body {
    background: #b9ccc6;
    font-family: "Roboto", sans-serif;

  }
  .login-page {
    width: 500px;
    padding: 10% 0 0;
    margin: auto;
  }
  .form {
    position: relative;
    z-index: 1;
    background: #7c7272;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 55px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .login-title {
    font-family: "Changa", sans-serif;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 24px;
    color: #ceb0b0;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: #16530f;
  }
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #102a43;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-top: 10px;
  }