<html lang="en">
          <head>
            <meta charset="utf-8">

            <title>Html Generated</title>
            <link href = "https://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">
            {% load static %}
            <link rel="stylesheet" href="{% static 'base.css' %}">
            <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
          </head>

          <body>
            <div class=e5_461>
              <div class="e5_463">
                {% block content %}
                {% endblock %}
              </div>
            </div>
            <div class=e5_662>
                <div class=e5_663>
                  <div class=e5_664>
                    <div class=e5_678>
                      <div class=e5_679>
                        
                        <div class=e5_680>
                          <i class="material-icons">search</i>
                        </div><span  class="e5_682">Search</span>
                      </div>
                    </div>
                  </div>
                  <div class=e5_683>
                    <div class=e5_684>
                      <div class=e5_685>
                        <i class="material-icons">account_circle</i>
                        
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class=e5_688>
                  <div class="e5_689"></div>
                </div>
              </div>
              
              <div class=e5_690>
                <div class=e5_691>
                  <div class=e5_692>
                    <div class=e5_693>
                      <div class=e5_694>
                        <div class=e5_695>
                          <i class="material-icons" >data_usage</i>
                        </div>
                        <a  class="e5_697" href="{% url 'overview' %}">Overview</a>
                      </div>
                    </div>
                    <div class=e5_700>
                      <div class=e5_701>
                        <div class=e5_702>
                          <i class="material-icons">view_headline</i>
                        </div>
                        <a  class="e5_704" href="{% url 'sensordata' %}">Sensor Data</a>
                      </div>
                      <div class=e5_705>
                        <div class=e5_706>
                          <div class=e5_707>
                            <div class="ei5_707_541_400"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class=e5_723>
                      <div class=e5_724>
                        <div class=e5_725>
                          <i class="material-icons">chat_bubble</i>
                        </div><span  class="e5_727">System Messages</span>
                      </div>
                      <div class=e5_728>
                        <div class=e5_729><span  class="ei5_729_898_624">1</span></div>
                      </div>
                    </div>
                    <div class=e5_730>
                      <div class=e5_731>
                        <div class=e5_732>
                          <i class="material-icons">fingerprint</i>
                        </div><span  class="e5_734">Authentication</span>
                      </div>
                      <div class=e5_735>
                        <div class=e5_736>
                          <div class=e5_737>
                            <div class="ei5_737_541_400"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="e5_738"></div>
                  <div class=e5_739>
                    <div class=e5_740>
                      <div class=e5_741>
                        <div class=e5_742>
                          <div class=e5_743>
                            <i class="material-icons">receipt</i>
                          </div>
                        </div><span  class="e5_744">Sensors</span>
                      </div>
                    </div>
                    <div class=e5_754>
                      <div class=e5_755>
                        <div class=e5_756>
                          <i class="material-icons">lock  </i>
                        </div><a  class="e5_758" href="{% url 'logout' %}">Sign Out</a>
                      </div>
                    </div>
                  </div>
                  <div class=e5_761>
                    <div class=e5_762>
                      <div class="ei5_762_541_312"></div>
                    </div>
                    <div class=e5_763>
                      <div class=e5_764>
                        <div class="ei5_764_541_531"></div>
                      </div>
                    </div>
                    <div class=e5_765>
                      <div class="ei5_765_541_428"></div>
                      <div class="ei5_765_541_429"></div>
                    </div>
                  </div>
                </div>
                <div class="e5_766"></div>
              </div>
            </div>
          </body>
          </html>
