<html lang="en">
          <head>
            <meta charset="utf-8">
            
            <title>HomePage</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
            {% load static %}
            <link rel="stylesheet" href="{% static 'landingpage.css' %}">



          </head>

          <body>
            <div class=e1_31>
              <div class=e2_228>
                <div class=e1_32>
                  <div class=e1_217><span  class="e1_218">Logo</span>
                    <div class=e1_219>
                      <div class="e1_220"></div>
                      <div class="e1_221"></div>
                    </div>
                    <div class=e1_222>
                      <div class="e1_223"></div>
                      <div class="e1_224"></div>
                    </div>
                  </div><span  class="e1_34">Features</span><span  class="e1_35">Pricing</span><span  class="e1_37">Support</span>
                  
                  <div class=e1_214>
                    <a href= "{% url 'signup' %}" class="e1_215"><div class="e1_216" >Sign up</div></a>
                  </div>
                  <div class=e1_211>
                    <a href= "{% url 'login' %}" class="e1_212"><div class="e1_213" >Log In</div></a>
                  </div>
                  
                 
                </div>
              </div>
              <div class=e1_40>
                <div class=e1_209>
                  <div class="e1_210"></div>
                </div>
                <div class=e1_207><span  class="e1_208">Join today, Save Water!</span></div>
                <div class=e1_204>
                  <div class="e1_205"></div><span  class="e1_206">Register Today</span>
                </div>
                <div class=e1_201>
                  <div class="e1_202"></div>
                </div>
              </div>
              <div class=e1_45><span  class="e1_46">Analyse your water supply like never before!</span><span  class="e1_47">Sed ut perspiciatis</span><span  class="e1_48">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</span>
                <div class=e1_198>
                  <div class="e1_199"></div><span  class="e1_200">Learn more</span>
                </div>
                <div class=e1_195>
                  <div class="e1_196"></div><span  class="e1_197">Learn more</span>
                </div>
                <div class=e1_192>
                  <div class="e1_193"></div><span  class="e1_194">Learn more</span>
                </div>
                <div class=e1_189>
                  <div class="e1_190"></div><span  class="e1_191">Learn more</span>
                </div><span  class="e1_53">Lorem ipsum dolor</span><span  class="e1_54">Amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</span><span  class="e1_55">Nemo enim ipsam</span><span  class="e1_56">Consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam.</span><span  class="e1_57">Tempor incididunt</span><span  class="e1_58">Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</span>
              </div>
              <div class=e1_59>
                <div class=e1_187>
                  <div class="e1_188"></div>
                </div><span  class="e1_61">Sed ut perspiciatis unde omnis</span><span  class="e1_62">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.</span>
              </div>
              <div class=e1_63>
                <div class=e1_185>
                  <div class="e1_186"></div>
                </div>
                <div class=e1_183>
                  <div class="e1_184"></div>
                </div>
                <div class=e1_181>
                  <div class="e1_182"></div>
                </div>
                <div class=e1_179>
                  <div class="e1_180"></div>
                </div>
                <div class=e1_177>
                  <div class="e1_178"></div>
                </div>
                <div class=e1_175>
                  <div class="e1_176"></div>
                </div>
                <div class=e1_173>
                  <div class="e1_174"></div>
                </div>
                <div class=e1_171>
                  <div class="e1_172"></div>
                </div>
                <div class=e1_72><span  class="e1_73">You’re in good company</span><span  class="e1_74">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</span></div>
              </div>
              <div class=e1_75><span  class="e1_76">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</span>
                <div class=e1_168>
                  <div class="e1_169"></div><span  class="e1_170">Join Today</span>
                </div>
                <div class=e1_165>
                  <div class="e1_166"></div><span  class="e1_167">Contact us</span>
                </div>
              </div>
              <div class=e1_79><span  class="e1_80">Mobile app</span><span  class="e1_81">© name, Inc. 2021. We love our users!</span>
                <div class=e1_163>
                  <div class="e1_164"></div>
                </div>
                <div class=e1_161>
                  <div class="e1_162"></div>
                </div>
                <div class=e1_159>
                  <div class="e1_160"></div>
                </div>
                <div class=e1_157>
                  <div class="e1_158"></div>
                </div><span  class="e1_86">Community</span><span  class="e1_87">Company</span><span  class="e1_88">Help desk</span><span  class="e1_89">Blog</span><span  class="e1_90">Resources</span>
                <div class=e1_149><span  class="e1_150">Logo</span>
                  <div class=e1_151>
                    <div class="e1_152"></div>
                    <div class="e1_153"></div>
                  </div>
                  <div class=e1_154>
                    <div class="e1_155"></div>
                    <div class="e1_156"></div>
                  </div>
                </div>
                <div class="e1_92"></div>
              </div>
              <div class=e1_93>
                <div class=e1_147>
                  <div class="e1_148"></div>
                </div><span  class="e1_95">Sed ut perspiciatis unde omnis</span><span  class="e1_96">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.</span>
              </div>
            </div>
            

          </body>
          </html>
