<!DOCTYPE html>
<head>
    <title>Sensor Data</title>
</head>
{% extends 'base.html' %}

{% block content %}

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Current Sensor Data</h1>
      
        <!-- Content Row -->
        <div class="row">


            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Temperature</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" id="tempid">{{current_sensor1}} &#8451;</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-temperature-high fa-2x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">pH</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" id="phid">{{current_sensor2}} pH</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-vial fa-2x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Turbidity</div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800" id="turbid">{{current_sensor3}} NTU</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="far fa-dot-circle fa-2x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">TDS</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" id="tdsid" onload="updatet()">{{current_sensor4}} PPM</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-atom fa-2x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
          <!-- Donut Chart -->
          <div class="col-xl-6 col-lg-7">
              <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Temperature Sensor</h6>
                  </div>
                  <!-- Card Body -->
                  
                  <div class="card-body">
                      <div class="chart-pie pt-4">
                          <canvas id="sensor1chart" onload="updatet()"></canvas>
                      </div>
                      <hr>
                  </div>

              </div>
          </div>
          <div class="col-xl-6 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">pH Sensor</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4">
                        <canvas id="sensor2chart"></canvas>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
      </div>

          <div class="row">
            <!-- Donut Chart -->
            <div class="col-xl-6 col-lg-7">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Turbidity Sensor</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-pie pt-4">
                            <canvas id="sensor3chart"></canvas>
                        </div>
                        <hr>

                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7">
              <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">TDS Sensor</h6>
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                      <div class="chart-pie pt-4">
                          <canvas id="sensor4chart"></canvas>
                      </div>
                      <hr>
                  </div>
              </div>
          </div>
        </div>

    </div>
    <!-- /.container-fluid -->

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>


<script>

function process(data){
    if (data.length>15){
        const n = data.length
        data=data.slice(n-15,n)
    }
    return data
}

var sensor1={{sensor1}}
var sensor2={{sensor2}}
var sensor3={{sensor3}}
var sensor4={{sensor4}}
var time={{time | safe}}

sensor1=process(sensor1)
sensor2=process(sensor2)
sensor3=process(sensor3)
sensor4=process(sensor4)
time=process(time)
console.log(time)

var myChart1 = new Chart(document.getElementById("sensor1chart"), {
  type: 'line',
  data: {
    labels: time,
    datasets: [{
        data: sensor1,
        label: "Temperature Sensor",
        borderColor: "#4e73df",
        fill: true
      }],
  },
  options: {
    scales: {
        yAxes: [{
            type: 'linear',
        display: true,
        scaleLabel: {
          display: true,
          labelString: 'Temperature(Celsius)',
        },
        ticks: {
                beginAtZero: true,
                max: 100,
                suggestedmin: 0,
                stepSize: 20,
                
            }
      }],
      xAxes: [{
        display: true,
        scaleLabel: {
          display: true,
          labelString: 'Time',
        }
      }]
    },
    title: {
      display: true,
      text: 'Temperature Sensor Data'
    }
  }
});
var myChart2 = new Chart(document.getElementById("sensor2chart"), {
  type: 'line',
  data: {
    labels: time,
    datasets: [{
        data: sensor2,
        label: "pH Sensor",
        borderColor: "#1cc88a",
        fill: true
      }],
  },
  options: {
    scales: {
        yAxes: [{
            type: 'linear',
            display: true,
        scaleLabel: {
          display: true,
          labelString: 'pH',
        },
            ticks: {
                beginAtZero: true,
                max: 14,
                suggestedmin: 0,
                stepSize: 1
            }
        }],
        xAxes: [{
        display: true,
        scaleLabel: {
          display: true,
          labelString: 'Time',
        }
      }]
    },
    title: {
      display: true,
      text: 'pH Sensor Data'
    }
  }
});
var myChart3 = new Chart(document.getElementById("sensor3chart"), {
  type: 'line',
  data: {
    labels: time,
    datasets: [{
        data: sensor3,
        label: "Turbidity Sensor",
        borderColor: "#36b9cc",
        fill: true
      }],
  },
  options: {
    scales: {
        yAxes: [{
            type: 'linear',
            display: true,
        scaleLabel: {
          display: true,
          labelString: 'NTU',
        },
            ticks: {
                suggestedmin: 0,
            }
        }],
        xAxes: [{
        display: true,
        scaleLabel: {
          display: true,
          labelString: 'Time',
        }
      }]
    },
    title: {
      display: true,
      text: 'Turbidity Sensor Data'
    }
  }
});
var myChart4 = new Chart(document.getElementById("sensor4chart"), {
  type: 'line',
  data: {
    labels: time,
    datasets: [{
        data: sensor4,
        label: "TDS Sensor",
        borderColor: "#f6c23e",
        fill: true
      }],
  },
  options: {
    scales: {
        yAxes: [{
            type: 'linear',
            display: true,
        scaleLabel: {
          display: true,
          labelString: 'PPM',
        },
            ticks: {
                suggestedmin: 0,
            }
        }],
        xAxes: [{
            display: true,
        scaleLabel: {
          display: true,
          labelString: 'Time',
        },

        }]
    },
    title: {
      display: true,
      text: 'TDS Sensor Data'
    }
  }
});

setInterval(function updatet(){
     $.ajax({
         url:"{% url 'updatechart' %}",
         type: "GET",
         success: function(test){
             console.log("hello")
             var sensor1=process(test['sensor1'])
             var sensor2=process(test['sensor2'])
             var sensor3=process(test['sensor3'])
             var sensor4=process(test['sensor4'])
             var time=process(test['time'].split(","))
             var current_sensor1=test["current_sensor1"]
             var current_sensor2=test["current_sensor2"]
             var current_sensor3=test["current_sensor3"]
             var current_sensor4=test["current_sensor4"]
             document.getElementById("tempid").innerHTML=current_sensor1+ " \xB0C";
             document.getElementById("phid").innerHTML=current_sensor2+" pH";
             document.getElementById("turbid").innerHTML=current_sensor3+" NTU";
             document.getElementById("tdsid").innerHTML=current_sensor4+" PPM";
             myChart1.data.datasets[0].data = sensor1;
             myChart1.data.labels=time;
             myChart1.update();

             myChart2.data.datasets[0].data = sensor2;
             myChart2.data.labels=time;
             myChart2.update();

             myChart3.data.datasets[0].data = sensor3;
             myChart3.data.labels=time;
             myChart3.update();

             myChart4.data.datasets[0].data = sensor4;
             myChart4.data.labels=time;
             myChart4.update();
         },
     });
}, 5000);
</script>

<!-- End of Main Content -->
<!-- <body onload="updatet()">
</body> -->

{% endblock %}
